.nav-link {
  color: var(--charcoal);
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--sage);
}

.navbar-nav {
  gap: 1.5rem;
}

.navbar-brand img {
  transition: 0.3s ease;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 768px) {

  .navbar-brand img {
    height: 140px;
  }

  .navbar-collapse {
    text-align: center;
    margin-top: 1rem;
  }

  .navbar-nav {
    gap: 1rem;
  }

}